/*Parte del body con los contenedores desde el 4 hasta el 6*/

/**********************ESTILOS GENERALES MOBILE********************/
/*Inicio de estilos contenedor 4*/
/*Estilos h2 contenedor 4*/
.contenedor4 h2 {
    padding-left: 0;
    @include subtitulos-mobile;
    display: flex;
    justify-content: center;
}

.img-invitadas {
    display: inline-block;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*************ESTILOS PARA DESKTOP********************/
@media screen and (min-width: 1000px) {
    /*Estilos generales contenedor 4*/
    .max-width {
        max-width: 1440px;
    }
    .contenedor4 {
        margin-top: 1.6%;
    }

    /*Estilos h2 contendor 4*/
    .contenedor4 h2 {
        @include padding-left-subtitulos;
        justify-content: flex-start;
    }
    
    /*Max width img contenedor 4*/
    .contenedor4 img {
        @include tamaño-imgages-invitadas;
    }
    
    /*Estilos imagenes contenedor 4*/
    .img-invitadas {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}


    









/*************ESTILOS PARA DESKTOP********************/
// /*Incio estilos contenedor 5*/
.contenedor5 {
    margin-bottom: 10%;
}

/*Incio de flexbox contendor 5*/
.flex-container-section5 {
    display: flex;
    justify-content: space-around;
    padding: 0 13.9%;
}

.contenedor5 .flex-container-section5 {
    // display: flex;
    flex-wrap: wrap;
}   

/*Estilos h2 contenedor 5*/
.contenedor5 h2{
    @include padding-left-subtitulos;
}

/*Alineación de assets con los p*/
.contenedor5 div .assets {
    // box-sizing: border-box;
    text-align: center;
}

/*Estilos y alineación de los p de los assets*/
.assets p {
    font-family: $some-font-family;
    font-size: 1.5rem;
    text-align: center;
}

/**********************ESTILOS GENERALES MOBILE********************/
/*Configuración flexbox contenedor 5*/
@media screen and (max-width: 990px) {
    .contenedor5 .flex-container-section5 {
        flex-direction: column;
    } 

    /*Estilos h2 contenedor 5*/
    .contenedor5 h2{
        padding-left: 0;
        display: flex;
        justify-content: center;
        @include subtitulos-mobile
    }

    /*Font size de los p de los assets*/
    .assets p {
        font-size: 1.5rem;
    }
}












/**********************ESTILOS GENERALES MOBILE********************/
/*Cajita de fondo "box2"*/
.box2 {
    clip-path: polygon(0 13%, 100% 0%, 100% 100%, 0% 100%);
    background-image: linear-gradient(#0000FF, #0000A3);
    margin-top: 16px;
}

/*Inicio de flexbox contenedor 6*/
.flex-container-section6 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Estilos sección*/
.contenedor6 .parrafo3{
    position: relative;
}

/*Estilos h2 contenedor 6*/
.contenedor6 h2 {
    @include subtitulos-mobile;
    color: white;
    margin-bottom:15%;
    text-align: center;
}

/*Estilos botón contenedor 6*/
.segundoboton {
    position: relative;  
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
}

/*************ESTILOS PARA DESKTOP********************/
/*Esilos cajita box2*/
@media screen and (min-width: 1000px) {
    .box2 {
        clip-path: polygon(0 13%, 100% 0%, 100% 100%, 0% 100%);
        background-image: linear-gradient(#0000FF, #0000A3);
    }
    
    /*Estilos generales parrafo3*/
    .contenedor6 .parrafo3{
        position: relative;
    }
    
    /**/
    .contenedor6 h2 {
        @include normal-subtitulos;
        color: white;
    }
    
    .segundoboton {
        position: relative;
        bottom: 30px;
        padding-top: 3%;
        padding-bottom: 3%;
        text-align: center;
    }
}





            