/********Parte del body con los contenedores desde el 1 hasta el 3*********/
*::before,
*::after {
    box-sizing: border-box;
}
:root {
    font-size: 16px;
}

/*Estilos generales del body*/
body {
    font-family: $principal-font-family;
    color: $principal-font-color;
    margin-left: 0;
    box-sizing: border-box;
}
a {
    color: $principal-font-color;
    text-decoration: none;
}


.max-width {
    margin: 16px;
}

/**********************ESTILOS GENERALES MOBILE********************/
/*Inicio flexbox contenedor1*/
.flex-container-section1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/*Estilos h1 contenedor 1*/
.contenedor1 h1 {
    font-size: 2.25rem;
    margin-bottom: 5%;
}

/*Tachado span h1*/
.tachado {
    text-decoration: line-through;
}

/*Punto al final del h1*/
.punto {
    color: #0000EC;
}

/*Estilos parrafo 1 contenedor 1*/
.parrafo1{
    margin-bottom: 10%;
    font-family: $normal-font-family;
    font-size: $font-size-parrafos-mobile;
    text-align: justify;
}

/*Estilos botón contenedor 1*/
.conoce_mas_boton{
    background-color: $botones-font-color;
    font-family: $normal-font-family;
    font-size: 1rem;
    padding: 3% 30%;
    border: 0;
    margin-bottom: 10%;
}

/*Hover boton*/
.conoce_mas_boton:hover {
    background-image: linear-gradient(225deg, #0000FE, #00F0B8);
    transition: 1s ease;
}

/*************ESTILOS PARA DESKTOP********************/
@media screen and (min-width: 990px) {
    /*Estilos del contenedor 1*/
    .max-width {
        max-width: 1200px;
    }

    /*Estilos generales contenedor 1*/
    .contenedor1 {
        padding-left: 100px;
        margin-top: 120px;
        margin-bottom: 10px; 
    }

    /*Inicio de flexbox contenedor 1*/
    .flex-container-section1 {
        display: flex;
        flex-direction: column;
    }

    /*Estilos de los elementos dentro del contenedor*/
    /*Estilos h1*/
    .contenedor1 h1 {
        margin: 0;
        font-size: 4rem;
    }

    /*Estilos parrafo 1 contenedor 1*/
    .parrafo1{
        padding-right: 42.5%;
        margin-bottom: 3.5%;
        font-size: 1rem;
        text-align: justify;
    }

    /*Estilos boton contenedor 1*/
    .conoce_mas_boton{
        font-size: 1.125rem;
        padding: 1% 4.1%;
        border: 0;
    }
}


/**********************ESTILOS GENERALES MOBILE********************/
/*Inicio estilos contenedor 2*/
/*Caja contenedora del contenedor 2 (box)*/
.box1 {
    background-image: linear-gradient(#0000FF, #0000A3);
    padding-top: 50px;
    padding-bottom: 150px;
    clip-path: polygon(0 3%, 100% 0, 100% 97%, 0% 100%);   
}

/*Inicio flexbox contenedor 2*/
.flex-container-section2 {
    display: flex;
    flex-direction: column;
}

/*Estilos contenedor 1: h2 - iframes*/
.episodios {
    max-width: 280px;
    margin: 0 auto;
}

/*Estilos h2 contenedor 2*/
.episodios h2 {
    padding-left: 0;
    position: relative;
    @include subtitulos-mobile;
    color: white;
}

/*Estilos iframes*/
.img-iframes img {
    padding-bottom: 16px;
}

/*************ESTILOS PARA DESKTOP********************/
@media screen and (min-width: 990px) {
    /*Incio estilos contenedor 2*/
    .box1 {
        background-image: linear-gradient(#0000FF, #0000A3);
        // padding-top: 50px;
        // padding-bottom: 150px;
        clip-path: polygon(0 3%, 100% 0, 100% 97%, 0% 100%);   
        margin-left: 0;
    }

    .contenedor2 {
        position: relative;
        margin-top: 3%;
    }   

    /*Inicio flexbox para el contenedor*/

    .episodios{
        max-width: 1440px;
        margin: 0 auto;
    }

    .episodios h2 {
        position: relative;
        @include padding-left-subtitulos;
        color: white;
    }

    .img-iframes {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    

    .iframes {
        padding-bottom: 30px;
        max-width: 45%;
        align-items: center;
        // max-width: calc(100% / 2);
    }
}

/**********************ESTILOS GENERALES MOBILE********************/
/*Inicio estilos contenedor 3*/
.contenedor3 {
    position: relative;
    bottom: 80px;
}

.flex-container-section3 {
    display: flex;
    flex-direction: column;
}
.phone {
    max-width: 100%;   
}

.parrafo-contenedor3 h2 {
    padding-left: 0;
    position: relative;
    @include subtitulos-mobile;
}

.parrafo-contenedor3 p {
    font-family: $normal-font-family;
    font-size: $font-size-parrafos-mobile;
}


/*************ESTILOS PARA DESKTOP********************/
@media screen and (min-width: 990px) {
    .flex-container-section3 {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .phone {
        margin-right: 80px;
    }

    .parrafo-contenedor3 h2 {
        @include normal-subtitulos;
    }

    .parrafo-contenedor3 p {
        font-size: $font-size-parrafos;
        margin-right: 80px;
    }    

}