/*Parte del body con los contenedores desde el 1 hasta el 3*/
*::before,
*::after {
    box-sizing: border-box;
}
:root {
    font-size: 16px;
}

/*Estilos generales del body*/
body {
    font-family: $principal-font-family;
    color: $principal-font-color;
    margin-left: 0;
}
a {
    color: $principal-font-color;
    text-decoration: none;
}


.max-width {
    max-width: $general-max-with;
    margin: 0 auto;
}

@media screen and (max-width: 990px) {
    body {
        margin-left: 0;
    }
}












/*Estilos del contenedor 1*/
.contenedor1 {
    padding-left: 100px;
    margin-top: 120px;
    margin-bottom: 10px;
    
}

/*Inicio de flexbox para contenedor 1*/
.flex-container-section1 {
    display: flex;
}

.contenedor1 {
    flex-direction: column;
}

/*Estilos de los elementos dentro del contenedor*/
h1 {
    margin: 0;
    font-size: $font-size-titulo;
}

.tachado {
    text-decoration: line-through;
}
.punto {
    color: #0000EC;
}
.parrafo1{
    padding-right: 42.5%;
    margin-bottom: 3.5%;
    font-family: $normal-font-family;
    font-size: 1rem;
    text-align: justify;
}
.conoce_mas_boton{
    background-color: $botones-font-color;
    font-family: $normal-font-family;
    font-size: 1.125rem;
    padding: 1% 4.1%;
    border: 0;
}
.conoce_mas_boton:hover {
    background-image: linear-gradient(225deg, #0000FE, #00F0B8);
    transition: 1s ease;
}

@media screen and (max-width: 790px) {
    body {
        margin-left: 0;
    }
    .contenedor1 h1 {
        margin: 0;
        font-size: $font-size-titulo-mobile;
    }
    .parrafo1{
        padding-right:2%;
        margin-bottom: 3.5%;
        font-family: $normal-font-family;
        font-size: $font-size-parrafos-mobile;
        text-align: justify;
    }
    .conoce_mas_boton{
        background-color: $botones-font-color;
        font-family: $normal-font-family;
        font-size: 1rem;
        padding: 1% 30%;
        border: 0;
    }
}


















/*Incio estilos contenedor 2*/
.box1 {
    background-image: linear-gradient(#0000FF, #0000A3);
    // width: 100%;
    // height: 140vh;
    // transform: skew(0, -5deg);
    position: absolute;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    padding-top: 50px;
    padding-bottom: 150px;
    clip-path: polygon(0 13%, 100% 0, 100% 87%, 0% 100%);
  
}

.contenedor2 {
    position: relative;
    margin-top: 3%;
}

/*Inicio flexbox para el contenedor*/
.contenedor2 .flex-container {
    position: relative;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.episodios .flex-container{
    top: 50px;
}

.episodios h2 {
    position: relative;
    top: 50px;
    @include padding-left-subtitulos;
    color: white;
}

.img-iframes img {
   @include tamaño-iframe-images;
}

@media screen and (max-width: 990px) and (max-width: 985px) {
    .box1 {
        background-image: linear-gradient(#0000FF, #0000A3);
        background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
        padding-top: 50px;
        padding-bottom: 150px;
        clip-path: polygon(0 3%, 100% 0, 100% 97%, 0% 100%);   
    }

    .episodios h2 {
        padding-left: 0;
        position: relative;
        top: 50px;
        @include subtitulos-mobile;
        color: white;
    }
    
    @media screen and (max-width: 640px){
        .img-iframes img {
        @include tamaño-iframe-images-mobile;
         }
    }
}


















/*Inicio estilos contenedor 3*/
.contenedor3 {
    position: relative;
    margin-top: 55%;
}

.contenedor3 .flex-container-section3 {
    display: flex;
    align-items: center;
}

.phone {
    @include phone-size;
}
.parrafo-contenedor3 h2 {
    @include normal-subtitulos;
}
.parrafo-contenedor3{
//     position: relative;
//     top: 200px;
//     width: 68%;
    font-family: $normal-font-family;
    font-size: $font-size-parrafos;
    align-items: center;
    @include padding-parrafo;
//     line-height: 150%;
//     vertical-align: bottom;
}

// @media screen and (max-width: 1300px) {
//     .contenedor3 {
//         position: relative;
//         margin-top: 70%;
//     }

@media screen and (max-width: 990px) {
    .contenedor3 {
        position: relative;
        margin-top: 150%;
    }

    .contenedor3 .flex-container-section3 {
    display: flex;
    flex-direction: column;
    }

    .phone {
        @include phone-size-mobile;
    }

    .parrafo-contenedor3 h2 {
        @include subtitulos-mobile;
    }

    .parrafo-contenedor3 {
        font-family: $normal-font-family;
        font-size: $font-size-parrafos-mobile;
        align-items: center;
        justify-content: center;
    }       
}