/*Parte del body con los contenedores desde el 4 hasta el 6*/
/*En esta parte del body, no organicé todo en una sola media querie ni para desktop ni para mobile, ya que hay container que empiezan por first mobile mientras que otros empiezan por desktop. Dividí los containers con las media queries correspondientes, dejo en cada uno especifciación del cómo está organizado*/


/******************************Inicio de estilos contenedor 4 PARA MOBILE******************************/
/*Estilos para mobile contenedor 4*/

/*Estilos h2 contenedor 4*/
.contenedor4 h2 {
    padding-left: 0;
    @include subtitulos-mobile;
    text-align: center;
}

/*Estilos img-invitadas con flexbox contenedor 4*/
.img-invitadas {
    display: inline-block;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*Estilos especificos de las img contenedor 4*/
.img-invitadas img {
    width: 320px;
    height: 243px;
}

/***********Estilos PARA DESKTOP contenedor 4 dentro de una media querie*************/
@media screen and (min-width: 1000px) {
    .max-width {
        max-width: 1440px;
        min-width: 1000px;
    }

    /*Estilos generales contenedor 4*/
    .contenedor4 {
        margin-top: 1.6%;
    }
    
    /*Estilos h2 contendor 4, le puse flexbox para poder desactivar el text-align: center de los estilos mobile*/
    .contenedor4 h2 {
        @include padding-left-subtitulos;
        display: flex;
        justify-content: flex-start;
    }
        
    /*Tamaño img contenedor 4*/
    .contenedor4 img {
        @include tamaño-imgages-invitadas;
    }
}

/******************************Inicio de estilos PARA DESKTOP contenedor 5******************************/
/*Estilo general contenedor 5*/
.contenedor5 {
    margin-bottom: 10%;
}

/*Incio de flexbox contendor 5*/
.flex-container-section5 {
    display: flex;
    justify-content: space-around;
    padding: 0 13.9%;
}

/*Estilo especifico con flexbox contenedor 5*/
.contenedor5 .flex-container-section5 {
    flex-wrap: wrap;
}   

/*Estilos h2 contenedor 5*/
.contenedor5 h2{
    @include padding-left-subtitulos;
}

/*Alineación de assets con los p*/
.contenedor5 div .assets {
    text-align: center;
}

/*Estilos y alineación de los p de los assets*/
.assets p {
    font-family: $some-font-family;
    font-size: 1.5rem;
    text-align: center;
}

/***********Estilos PARA MOBILE contenedor 5 dentro de una media querie*************/
@media screen and (max-width: 990px) {
    /*Configuración flexbox contenedor 5*/
    .contenedor5 .flex-container-section5 {
        flex-direction: column;
    } 

    /*Estilos h2 contenedor 5*/
    .contenedor5 h2{
        padding-left: 0;
        text-align: center;
        @include subtitulos-mobile
    }

    /*Font size de los p de los assets*/
    .assets p {
        font-size: 1.5rem;
    }
}

/******************************Inicio de estilos contenedor 6 PARA MOBILE******************************/
/*Cajita de fondo "box2"*/
.box2 {
    clip-path: polygon(0 13%, 100% 0%, 100% 100%, 0% 100%);
    background-image: $box;
    margin-top: 16px;
}

/*Inicio de flexbox contenedor 6*/
.flex-container-section6 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Estilos sección contenedor 6*/
.contenedor6 .parrafo3{
    position: relative;
}

/*Estilos h2 contenedor 6*/
.contenedor6 h2 {
    @include subtitulos-mobile;
    color: white;
    margin-bottom:15%;
    text-align: center;
}

/*Estilos botón contenedor 6*/
.segundoboton {
    position: relative;  
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
}

/***********Estilos PARA DESKTOP contenedor 4 dentro de una media querie*************/
@media screen and (min-width: 1000px) {
    /*Cajita de fondo "box2"*/
    .box2 {
        clip-path: polygon(0 13%, 100% 0%, 100% 100%, 0% 100%);
        background-image: $box;
    }
    
    /*Estilos generales parrafo3*/
    .contenedor6 .parrafo3{
        position: relative;
    }
    
    /*Estilos h2 contenedor 6*/
    .contenedor6 h2 {
        position: relative;
        top: 100px;
        @include normal-subtitulos;
        color: white;
    }
    
    /*Estilos segundo botón contenedor 6*/
    .segundoboton {
        position: relative;
        padding-top: 2%;
        padding-bottom: 2%;
        text-align: center;
    }
}