/*Parte del body con los contenedores desde el 4 hasta el 6*/
/*Inicio de estilos contenedor 4*/
.contenedor4 {
    margin-top: 1.6%;
}
.contenedor4 h2 {
    @include padding-left-subtitulos;
}

.contenedor4 img {
    @include tamaño-imgages-invitadas;
}

.img-invitadas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

// .grids{
//     margin-left: -10px;
//     display: grid;
//     grid-template-columns: 33.33% 33.33% 33.33%;
//     grid-template-rows: 1fr 1fr;

// }
// .grids img{
//     width: 33.32vw;
// }

// /*Incio estilos contenedor 5*/
.contenedor5 {
    margin-bottom: 10%;
}
.flex-container-section5 {
    display: flex;
    justify-content: space-around;
    padding: 0 13.9%;
}

.contenedor5 .flex-container-section5 {
    display: flex;
    flex-wrap: wrap;
}

.contenedor5 h2{
    @include padding-left-subtitulos;
}
// .assets-topicos{
//     width: 200%;
//     margin-left: 19%;
// }

/*Alineación de assets con los p*/
.contenedor5 div .assets {
    box-sizing: border-box;
    text-align: center;
}
// .assets{
//     padding: 5%;
// }
.assets p {
    font-family: $some-font-family;
    text-align: center;
}
// .assets-especiales {
//     @include assets-especiales;
// }

/*Inicio estilos contenedor 6*/
// .contenedor6{
//     clear: both;
// }

.box2 {
    position: relative;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 80px;
}

.box2::before,
.box2::after{
    content: '';
    background-image: $boxes-color;
    transform: skewY(-10);
    position: absolute;
    left: 0;
    width: 100%;
    height: 250%;
}
.box2::before{
    top: 10px;
}
.box2::after{
    transform: skewY(-3deg);
    top: -30px;
    z-index: -1;
}

.contenedor6 .parrafo3{
    position: relative;
    bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor6 h2 {
    // margin: 0;
    // position: relative;
    // bottom: 80px;
    @include normal-subtitulos;
    color: white;
}

.segundoboton {
    position: relative;
    bottom: 30px;
    padding: 5%;

    // position: relative;
    // font-family: $normal-font-family;
    // font-size: 1.125rem;
    // border: 0;
}

// .segundoboton:hover {
//     background-image: linear-gradient(225deg, #0000FE, #00F0B8);
//     transition: 1s ease;
// }




/*.box2{
    background-image: linear-gradient(#0000FF, #0000A3);
    width: 100%;
    height: 50vh;
    transform: skew(0, -4deg);
    position: absolute;
}*/
