.footer {
    position: relative;
    bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer div {
    font-family: $normal-font-family;
}

.redesSociales {
    display: flex;
    justify-content: space-between;
}

.cadaRedSocial {
    padding-right: 50px;
}
.cadaRedSocial:nth-last-child(1) {
    padding: 0;
}