/*POR FAVOR APRECIAR ESTE MNEÚ, LO LOGRÉ DESPUÉS DE LLORAR Y PENSAR EN TIRAR LA TOALLA ♥✰ツ*/

/*Estilo general tanto para el menú mobile y desktop*/
nav .principal-nav ul {
    @include lista-sin-bullets;
}

/******MENU HAMBURGUESA*******/

/*Media querie para mobile para que no afecte después los estilos del menú desktop*/
@media screen and (max-width: 1000px) {
    nav .principal-nav ul {
        display: none;
    }
}

/*Estilos para decirle qué hacer al menú cuándo esté en estado checked*/
.principal-nav {
     input {
        &:checked ~ ul{ 
            background-color: blue;
            display: flex;
            flex-direction: column;
            height: 224px;
            width: 250px;
            //transform: translateX(0);
            transition: transform 0.5s ease-in-out;
            -moz-transition: height 0.5s ease-in-out;
            -o-transition: height 0.5s ease-in-out;
            -webkit-transition: height 0.5s ease-in-out;
        }
    }
}
    
/*Estilos especificos para el input*/
header nav .principal-nav input {
    display: block;
    width: 40px;
    height: 32px;
    opacity: 0;
    z-index: 2;
    position: absolute;
}
    
/*Estilos especificos para el span*/
header nav .principal-nav span {
    display: block;
    width: 25px;
    height: 2.5px;
    margin-bottom: 6.5px;
    position: relative;
    background: #000;
    z-index: 1;
    transform-origin: 3px 0px;
    transition: transform 0.5s ease,
    opacity 0.55s ease;
}
    
/*Configuración general para el menú 🍔*/
header nav .principal-nav span:first-child {
    transform-origin: 0% 0%;
}
header nav .principal-nav span:nth-last-child(2) {
    transform-origin: 0% 100%;
}
    /*movimiento a cruz*/
header nav .principal-nav input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(2px, 1px);
}
header nav .principal-nav input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}
header nav .principal-nav input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(1px, 0px);
}


/******ESTILOS GENERALES HEADER********/
.principal-nav input ul {
    display: block;
}

.clean-list li {
    display: inline-block;
}

.header {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    color: white;
}

.header a {
    color: white;
}

.logo {
    position: absolute;
}

/*Inicio de flexbox*/

.flex-container{
    display: flex;
    justify-content: flex-end;
}


.principal-nav .flex-container {
    font-size: $font-size-header-footer;
}

.principal-nav ul li {
    font-family: $normal-font-family;
    // padding-right: 20px;
    margin: 16px;
}

/*Hover para el menú*/
.principal-nav ul li a:hover {
    text-decoration: line-through;
    color: $botones-font-color;
    transition: 0.5s ease;
}
.principal-nav ul li:active {
    text-decoration: line-through;
    color: #060A24;
    opacity: 56%;
}

@media screen and (min-width: 1000px) {
    /*Estilo para enconder el input*/
    header nav .principal-nav input {
        display: none;
    }
    
    /*Estilo para enconder el span*/
    header nav .principal-nav span {
        display: none;
    }

    /*Cambio de colores para que se vea*/
    .header {
        color: $principal-font-color;
    }
    
    .header a {
        color: $principal-font-color;;
    }
}
