@mixin lista-sin-bullets {
    padding: 0;
    margin: 0;
    list-style: none;
}

@mixin tamaño-iframe-images {
    max-width: 100%;
    width: 584px;
    height: 210px;
    padding-bottom: 5%;
}

@mixin tamaño-iframe-images-mobile {
    width: 298px;
    height: 200px;
    padding-bottom: 5%;
}

@mixin phone-size {
    width: 457.6px;
    height: 660px;
    // margin-right: 4.3%;
} 

@mixin phone-size-mobile {
    width: 360px;
    height: 519px;
}

@mixin tamaño-imgages-invitadas {
    width: 480px;
    height: 364px;
}

@mixin tamaño-imgages-invitadas-mobile {
    width: 320px;
    height: 243px;
}

@mixin padding-left-subtitulos {
    padding-left: calc(200px - 15px);
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 3rem; /*48px*/
}

@mixin normal-subtitulos {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 3rem; /*48px*/
}

@mixin subtitulos-mobile {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: $font-size-titulo-mobile;
}

@mixin padding-parrafo {
    padding-right: 20%;
}

@mixin assets-especiales {
    width: 16%;
}