/*colores del archivo*/
$principal-font-color: #060A24;
$botones-font-color: #00F3BB;
$boxes-color: linear-gradient(#0000FF, #0000A3);

/*fuentes del archivo*/
$principal-font-family: 'IBM Plex Sans Condensed', sans-serif;
$normal-font-family: 'IBM Plex Mono', monospace;
$some-font-family: 'IBM Plex Sans', sans-serif;

/*tamaños de las fuentes*/
$font-size-titulo: 4rem; /*64px*/
$font-size-subtitulos: 3rem; /*48px*/
$font-size-parrafos: 1rem; /*16px*/
$font-size-header-footer: 1rem;

/*Tamaño fuentes mobile*/
$font-size-titulo-mobile: 2.25rem; /*36px*/
$font-size-parrafos-mobile: 0.875rem; /*14px*/

/*tamaño max-width*/
$general-max-with: 1200px;
$general-min-width: 800px;

